* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  transition: 0.3s all ease-in-out;
}

a:hover {
  transform: scale(1.1);
}

li {
  list-style: none;
  transition: 0.3s all ease-in-out;
}

li:hover {
  transform: scale(1.1);
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

#sign {
  transition-duration: 10s;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin-inline: auto;
  background: white;
}

.header-container {
  padding: 46px 100px 63px 100px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  color: rgb(0, 0, 0);
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 3%;
}

.logo {
  display: flex;
  gap: 13px;
}

.header-nav__item {
  display: flex;
  gap: 65px;
  align-items: center;
}

.header-nav__link {
  color: rgb(36, 35, 35);
  font-size: 22px;
  font-weight: 500;
}

.header-nav__button {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border-radius: 7px;
  background: rgb(0, 0, 0);
  padding: 13px 22px;
  color: rgb(254, 254, 254);
  font-size: 24px;
  font-weight: 500;
}

.main {
  border-radius: 59px;
  background: rgb(244, 246, 245);
  margin-top: 56px;
  display: flex;
  align-items: center;
  gap: 43px;
  padding: 68px 81px 0px 82px;
  position: relative;
}

.main::before {
  content: url(icons/star.svg);
  display: block;
  position: absolute;
  width: 100%;
  left: 90%;
  bottom: 10%;
}

.main::after {
  content: url(icons/star.svg);
  display: block;
  position: absolute;
  width: 100%;
  left: 81%;
  top: 10%;
}

.main-descriotion {
  display: inline-block;
  position: relative;
}

.main-descriotion::before {
  content: url(icons/star.svg);
  display: block;
  position: absolute;
  width: 100%;
  left: 100%;
  bottom: 3%;
}

.main-descriotion::after {
  content: url(icons/star.svg);
  display: block;
  position: absolute;
  width: 100%;
  left: 100%;
  top: 0%;
}

.main-title-text {
  color: rgb(0, 0, 0);
  font-size: 96px;
  font-weight: 900;
  line-height: 120px;
}

.main-title {
  margin-bottom: 40px;
}

.background-white {
  background-image: url(icons/background-lets.svg);
  background-repeat: no-repeat;
}

.background-yellow {
  background-image: url(icons/background-unique.svg);
  background-repeat: no-repeat;
}

.main-text {
  color: rgb(25, 24, 24);
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: -0.05em;
  margin-bottom: 32px;
  min-width: 606px;
  width: 100%;
}

.main-button {
  display: flex;
  gap: 34px;
  align-items: center;
  margin-bottom: 90px;
}

.button-shop {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border-radius: 10px;
  background: rgb(0, 0, 0);
  padding: 19px 40px;
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 500;
  transition: 0.3s all ease-in-out;
}

.brands {
  background: rgb(235, 217, 107);
  min-height: 186px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.new-arrivals {
  padding: 69px 167px 190px 115px;
}

.arrivals-title {
  color: rgb(0, 0, 0);
  font-size: 48px;
  font-weight: 900;
  background-image: url(icons/figure.svg);
  background-repeat: no-repeat;
  background-position: 13% 100%;
}

.cards {
  margin-top: 101px;
  display: flex;
  gap: 90px;
}

.card-img {
  border-radius: 20px;
  margin-bottom: 28px;
}

.card-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  color: rgb(25, 25, 25);
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 7px;
}

.explore-now {
  color: rgb(127, 127, 127);
  font-size: 24px;
  font-weight: 500;
}

.sale {
  display: flex;
  position: relative;
}

.sale::before {
  content: url(icons/star2.svg);
  display: block;
  position: absolute;
  width: 100%;
  left: 9%;
  top: 20%;
}

.sale::after {
  content: url(icons/star2.svg);
  display: block;
  position: absolute;
  width: 100%;
  left: 11%;
  bottom: 40%;
}

.sale-description {
  padding: 128px 200px 156px 67px;
  background: linear-gradient(
    0deg,
    rgb(224, 195, 64),
    rgb(223, 194, 62) 3.929%,
    rgb(225, 196, 65) 7.229%,
    rgb(227, 199, 67) 10.229%,
    rgb(228, 197, 66) 13.141%,
    rgb(230, 199, 68) 16.223%,
    rgb(231, 200, 69) 19.84%,
    rgb(229, 198, 67) 24.383%,
    rgb(230, 201, 69) 30.996%,
    rgb(227, 199, 67) 37.194%,
    rgb(233, 202, 72) 43.333%,
    rgb(237, 206, 73) 50.359%,
    rgb(240, 212, 76) 56.569%,
    rgb(244, 216, 79) 62.712%,
    rgb(246, 218, 82) 67.124%,
    rgb(247, 219, 83) 73.767%,
    rgb(249, 221, 85) 79.08%,
    rgb(249, 223, 86) 85.645%,
    rgb(250, 225, 87) 93.496%,
    rgb(249, 223, 86) 100%
  );
  color: rgb(0, 0, 0);
  font-size: 36.04px;
  display: inline-block;
  position: relative;
}

.sale-description::before {
  content: url(icons/star2.svg);
  display: block;
  position: absolute;
  width: 100%;
  left: -18%;
  top: 10%;
}

.sale-description::after {
  content: url(icons/star2.svg);
  display: block;
  position: absolute;
  width: 100%;
  left: -15%;
  bottom: 20%;
}

.sale-title-text {
  font-size: 111.61px;
  font-weight: 900;
  line-height: 137.19px;
}

.sale-title {
  margin-bottom: 33px;
}

.sale-text1 {
  color: rgb(35, 19, 0);
  font-weight: 500;
  margin-bottom: 40px;
}

.sale-text2 {
  font-weight: 700;
  margin-bottom: 10px;
}

.sale-text3 {
  font-weight: 400;
  margin-bottom: 51px;
}

.shop-now {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border-radius: 8.14px;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 27.9px;
  font-weight: 600;
  padding: 26px 51px;
}

.favourite {
  padding: 190px 100px 220px 100px;
}

.favourite-title {
  color: rgb(0, 0, 0);
  font-size: 48px;
  font-weight: 900;
  background-image: url(icons/figure.svg);
  background-repeat: no-repeat;
  background-position: 18% 100%;
}

.cards-2 {
  display: flex;
  gap: 47px;
  margin-top: 104px;
}

.card-img-2 {
  border-radius: 20px;
  margin-bottom: 28px;
}

.app {
  padding: 0 218px 200px 219px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.app::before {
  content: url(icons/circle1.svg);
  display: block;
  position: absolute;
  width: 100%;
  left: 88%;
  top: 11%;
}

.app::after {
  content: url(icons/circle4.svg);
  display: block;
  position: absolute;
  width: 100%;
  left: 90%;
  bottom: 36%;
}

.app-title {
  color: rgb(0, 0, 0);
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 41px;
  max-width: 507px;
  width: 100%;
}

.app-descripton {
  position: relative;
}

.app-descripton::before {
  content: url(icons/circle3.svg);
  display: block;
  position: absolute;
  width: 100%;
  left: 177%;
  top: -22%;
}

.app-descripton::after {
  content: url(icons/circle2.svg);
  display: block;
  position: absolute;
  width: 100%;
  left: 170%;
  bottom: -37%;
}

.app-text {
  color: rgb(124, 124, 124);
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 65px;
  max-width: 444px;
  width: 100%;
}

.shops {
  display: flex;
  gap: 19px;
}

.app-img {
  background-image: url(icons/oval1.svg), url(icons/oval2.svg),
    url(icons/oval3.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.email-group {
  background: rgb(229, 198, 67);
  padding: 141px 456px 156px 454px;
}

.email {
  max-width: 1010px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.email-title {
  color: rgb(255, 255, 255);
  font-size: 55px;
  font-weight: 900;
  margin-bottom: 37px;
}

.email-text {
  color: rgb(255, 252, 248);
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 49px;
}

.wrapper {
  max-width: 574px;
  width: 100%;
  min-height: 87px;
  align-content: center;
  position: relative;
}

input {
  border-radius: 10px;
  background: rgb(255, 255, 255);
  color: rgb(118, 118, 118);
  border: none;
  font-size: 24px;
  font-weight: 400;
  padding: 27px 245px 27px 27px;
}

input:focus {
  background-color: rgb(237, 234, 234);
}

.send {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 33px;
  font-weight: 500;
  padding: 17px 35px 15px 38px;
  position: absolute;
  top: 6px;
  bottom: 10px;
  right: 10px;
}

.send:active {
  background-color: rgb(98, 98, 98);
  transform: scaleX(1.1);
}

.footer {
  background: rgb(0, 0, 0);
  padding: 119px 100px 147px 100px;
  display: flex;
  text-align: left;
  justify-content: space-between;
}

.footer-logo {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 32px;
}

.footer-text {
  color: rgb(142, 142, 142);
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 32px;
}

.social {
  display: flex;
  gap: 14px;
}

.footer-group {
  display: flex;
  text-align: left;
  gap: 188px;
}

.footer-item {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer-link {
  color: rgb(142, 142, 142);
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
}

.footer-link:last-child {
  margin-bottom: 0;
}

.link-color {
  color: rgb(217, 217, 217);
}
